html {
  font-size: 62.5%; // 1rem = 10px
}

.container-lg {
  padding: 5rem 5rem 2rem 5rem;

  & .row:last-child {
    gap: 1.5rem;
  }

  & .row:last-child .col {
    margin: auto 0;
  }
}

@media (max-width: 768px) {
  .container-lg {
    padding: 5rem 3rem 2rem 3rem;

    & .row:last-child {
      flex-direction: column;
      gap: 1.5rem;
    }

    // second card grid group
    & .row:last-child > :nth-child(2) > :first-child {
      margin-bottom: 3rem;
    }
  }
}
