.card {
  border-radius: 0.8rem;
  box-shadow: 0 0.5rem 1rem hsla(212, 86%, 64%, 0.137);
  overflow: hidden;
  max-width: 40rem;
  margin-bottom: 3rem;

  &-img {
    max-width: 20%;
    margin: 2rem;
    align-self: flex-end;
  }

  &-top {
    &__red {
      background-color: $danger;
    }
    &__blue {
      background-color: $primary;
    }
    &__green {
      background-color: $success;
    }
    &__yellow {
      background-color: $warning;
    }

    &__red,
    &__blue,
    &__green,
    &__yellow {
      height: 0.5rem;
    }
  }
}
